@model User
@{
    ViewData["Title"] = "Login";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<div class="container">
    <h3 class="text-bg-dark text-center">Log In</h3>
</div>
<form asp-action="Login" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="UserEmail" class="form-label"></label>
    <input asp-for="UserEmail" class="form-control" />
    <span asp-validation-for="UserEmail" class="text-danger"></span>
    
    <br/>
    <label asp-for="Password" class="form-label"></label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <br/>
    <button type="submit" class="btn btn-primary mt-3">Sign In</button>

</form>

